.feed {
	.x-list-item {
		.desc {
			h2 {
				font-size: .7em;
				max-height: none;
				max-width: 12em;
			}
			h3 {
				font-size: .6em;
				max-width: 14em;
				font-family: $lato-r-family;
			}
		}
	}
	.x-list-item:after {
		display: none;
	}
}