.nav-panel {
	background: rgb(24, 23, 23);
}

.nav {
	.x-button {
		border-radius: 0;
		border: none;
		color: #FFF;
		font-family: $lato-b-family;
		text-transform: uppercase;
		line-height: 3em;
		background-image: none;
		.x-button-label {
			line-height: 3.5em;
			font-size: .75em;
		}
		&:nth-of-type(4n+1) {
			background-color: #008e8e;
		}
		&:nth-of-type(4n+2) {
			background-color: #e75e1c;
		}
		&:nth-of-type(4n+3) {
			background-color: #a1b800;
		}
		&:nth-of-type(4n+4) {
			background-color: #88c99d;
		}
	}
}

.logged-usr-avatar {
	width: 4em;
	height: 4em;
	overflow: hidden;
	margin: .5em;
	background: #4c4c50;
	padding: .3em;
	float: left;
	img {
		width: 100%;
	}
}
.logout-btn {
	float: right;
	margin-right: 18%;
	margin-top: 3em;
	border: none;
	border-radius: 0;
	font-family: $lato-b-family;
	color: #FFF;
	font-size: .75em;
	text-transform: uppercase;
	background: #0dadb7;
	.x-button-label {
		line-height: 2.5em;
	}
}
.usr-login {
	color: #FFF;
	text-transform: uppercase;
	font-size: .6em;
	margin-top: .9em;
	font-family: $lato-b-family;
	position: absolute;
	left: 8em;
}