.partner-wrapper {
	.partner-section {
		background: #222324;
	}	
}

.partner-head {
	
	box-sizing: border-box;
	width: 100%;
	background: #0dadb7;
	padding: .5em 1em;
			
	
	.x-innerhtml {
		padding: 0 !important;
		display: -webkit-box;
		display: box;
		display: -ms-box;
	}
	.tile {
		width: 5.8em;
		height: 4.7em;
		background-size: 100%;
		background-position: 50% 50%;
		position: relative;
		overflow: hidden;
		img {
			width: 100%;
		}
		span {
			position: absolute;
			bottom: .5em;
			right: .5em;
			color: #FFF;
			text-shadow: 1px 1px 1px #666;
			font-size: .7em;
			text-align: right;
			max-width: 85%;
		}
	}
	.desc {
		padding: 0 .4em;
		h2, h3 {
			font-family: $lato-b-family;
		}
		h2 {
			max-width: 14em;
			max-height: 3em;
			overflow: hidden;
			line-height: 1em;
			color: #373737;
			text-transform: uppercase;
			word-break: break-word;
			font-size: .7em;
		}
		h3 {
			color: #FFF;
			max-width: 10em;
			max-height: 2.2em;
			overflow: hidden;
		}
	}
	
}



.x-ie {
	.partner-head {
		.tile {
			display: inline-block;
		}
		.desc {
			display: inline-block;
			vertical-align: top;
			max-width: 60%;
		}
	}
}

.partner-home {
	text-align: center;
	.redeem-btn {
		width: 90%;
		border: none;
		border-radius: 2px;
		font-family: "Lato-B","HelveticaNeue","Arial Black";
		color: #FFF;
		font-size: .75em;
		text-transform: uppercase;
		background: #f66024;
		display: inline-block;
		.x-button-label {
			line-height: 2.4em;
		}
		.x-button-icon {
			position: absolute;
			right: 1em;
			top: .7em;
		}
	}
	.exp-info {
		padding: .9em;
		font-family: $lato-b-family;
		color: #FFF;
		text-transform: uppercase;
		.x-innerhtml {
			background: #a5bd00;
			text-align: center;
			height: 6em;
			padding: .5em;
			border-radius: 2px;
			span {
				display: inline-block;
				width: 100%;
				font-size: .6em;
			}
			p {
				display: inline-block;
				width: 100%;
				font-size: 2.5em;
				padding-top: .2em;
			}
		}
		&.lvl {
			.x-innerhtml {
				background: #a5bd00;
			}
		}
		&.disc {
			.x-innerhtml {
				background: #0dadb7;
			}
		}

	}	
	.advance {
		text-align: center;
		padding: 0em .9em;
		font-family: $lato-b-family;
		color: #FFF;
		span {
			width: 100%;
			text-align: left;
			font-size: .6em;
			display: block;
			text-transform: uppercase;
			line-height: 2em;
		}
		.progress-bar {
			width: 100%;
			border-radius: 2px;
			background: #FFF;
			height: 2em;
			position: relative;
			.inner {
				position: absolute;
				left: 0;
				top: 0;
				height: 2em;
				width: 50%;
				background: #0dadb7;
			}
		}
		.lvl-mrk {
			width: auto
		}
		.prev-lvl {
			float: left;
		}
		.next-lvl {
			float: right;
		}
	}
	.infoBox {
		width: 100%;
		padding: .5em .9em 0 .9em;
		.inner {
			font-family: "Lato-R";
			color: #FFF;
			font-size: .8em;
			background: #444;
			padding: .5em;
			border-radius: 2px;
		}
	}
}

.show-local-map {
	position: absolute;
	right: .5em;
	top: .5em;
	display: block;
	width: 2em;
	height: 2em;
	background-size: 100% !important;
}

.qrcode-bottom {
	background: none;
	background-image: url("../images/qr-bottom.png");
	width: 6.5em;
	height: 4em;
	position: absolute;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: bottom;
	border: none;
	right: -2em !important;
	left: auto !important;
	top: auto !important;
	bottom: 0 !important;
	&.x-button-pressing {
		background: none;
		background-image: url("../images/qr-bottom.png");
	}
}