// The following two lines import the default Sencha Touch theme. If you are building
// a new theme, remove them and the add your own CSS on top of the base CSS (which
// is already included in your app.json file).
@import 'sencha-touch/base';
@import 'sencha-touch/base/all';
@import 'sencha-touch/default';
@import 'sencha-touch/default/all';

@include icon('globe', 'G');
@include icon('refresh', '1');
@include icon('previous', '[');
@include icon('locked', '(');
@include icon('unlocked', ')');

@font-face {
    font-family: 'UbuntuTitling';
    src: url('../fonts/UbuntuTitling-Bold-webfont.eot?#iefix') format('embedded-opentype');
    src: local('../fonts/UbuntuTitling-Bold-webfont'), 
         local('../fonts/UbuntuTitling-Bold-webfont'), 
         url('../fonts/UbuntuTitling-Bold-webfont.ttf') format('truetype');
}

@font-face {
    font-family: 'Lato-B';
    src: url('../fonts/Lato-Bla-webfont.eot');
    src: local('../fonts/Lato-Bla-webfont'), 
         local('../fonts/Lato-Bla-webfont'), 
         url('../fonts/Lato-Bla-webfont.ttf') format('truetype');
}

@font-face {
    font-family: 'Lato-R';
    src: url('../fonts/Lato-Reg-webfont.eot');
    src: local('../fonts/Lato-Reg-webfont'), 
         local('../fonts/Lato-Reg-webfont'), 
         url('../fonts/Lato-Reg-webfont.ttf') format('truetype');
}

$ubuntu-family: 'UbuntuTitling', 'HelveticaNeue', 'Arial';
$lato-b-family: 'Lato-B', 'HelveticaNeue', 'Arial Black';
$lato-r-family: 'Lato-R', 'HelveticaNeue', 'Verdana';

@import 'global';
@import 'partners';
@import 'categories';
@import 'feed';
@import 'partner';
@import 'nav';

// Custom code goes here..

// Examples of using the icon mixin:
// @include icon('user');

